/*
black: #272a31
orange: #ec5242
silver: #d3d3d3
font-family: cocogoose, lato */
body {
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

.flex {
  display: flex;
}

.header-nav {
  padding: 2vh 0 4vh 2vw;
}

.header-nav a {
  color: #272a31;
}

.header-content {
  background-image: url(images/LadogaBottom.png);

  /* background-size: auto;
  background-repeat: no-repeat; */
  background-color: rgb(240, 240, 240);
  padding: 1vh 4vw 9vh 4vw;
}

.header-content p {
  color: #ec5242;
  font-weight: 400;
}

.header-content h1 {
  color: #ec5242;
  opacity: 135%;
  font-family: 'COCOGOOSE', sans-serif;
}

.header-paragraph {
  border: 3px solid white;
  padding: 2vh 2vw;
  line-height: 170%;
}

.header-content h2 {
  color: #3b3f47;
  font-weight: 800;
}

/* here is the program section */
.program {
  background-image: url(images/programbackground.png);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2.5vh;
  padding: 3vh 2vw 8vh 2vw;
}

.program-h2,
.partners-h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.program-h2 h2,
.partners-h2 h2 {
  align-self: center;
}

.horizontal-hr {
  border-width: 0;
  height: 2px;
  background-color: #ec5242;
  width: 15%;
}

.teste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lecture {
  background: #272a31;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  opacity: 0.7;
}

.lecture-left {
  display: flex;
  width: 70%;
  align-items: baseline;
}

.lecture-left i {
  padding: 0 2vw;
}

.lecture-left h3 {
  color: #ec5242;
  font-size: 1rem;
}

.lecture-right {
  display: flex;
}

.lecture-right p {
  padding: 0 1vw;
}

.program-button {
  display: flex;
  justify-content: center;
  padding-top: 6vh;
}

.button-program {
  width: 70%;
  height: 14vh;
  color: white;
  background-color: #ec5242;
  font-size: large;
}

/* here is the feature speaking section */
.feature-speaking-button {
  width: 100%;
  height: 7vh;
  background-color: white;
}
/* here is the partners section */

.partners {
  background-color: #272a31;
  color: #fff;
  padding: 2vh 1vw 8vh 1vw;
}

.partners-images {
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

.partners-images-1 {
  display: flex;
  justify-content: space-around;
  padding-top: 7vh;
}

.partners-images-2 {
  display: flex;
  justify-content: space-evenly;
}

.alibaba {
  width: 90px;
  height: 90px;
  color: silver;
}

/* here is the footer section */
.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 8vh 8vw;
  font-size: 1rem;
  color: #272a31;
  line-height: 140%;
}

.footer img {
  width: 15vw;
  height: 15vh;
  background-color: white;
}

.footer-p {
  padding-left: 6vw;
}

/* ***********************************************************************************************************/

/* here about us section */
.headear-about-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
  line-height: 160%;
}

.headear-about-contact span {
  text-align: center;
}

.header-paragraph-about {
  background-color: white;
}

.about-us {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #272a31;
}

.about-us-2 {
  padding: 2vh 3vw;
}

/* here is the past activities section */
.past-activities {
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  padding: 5vh 5vw;
}

.past-activities p {
  text-align: center;
}

.past-activities-section {
  justify-content: center;
  align-items: center;
  height: 35vh;
  background: #ec5242;
  background-image: url(images/pastactivity1.png);
}

.past-activities-section-2 {
  justify-content: center;
  align-items: center;
  background-image: url(images/pastactivity2.png);
  height: 35vh;
}

.past-activities-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
